.AudioSpectrum1 {
    margin-top: 10px;
    /* background-color: #F2D1DB; */
    border-radius: 5px;
    /* background-image: linear-gradient(
        rgba(21, 126, 21, 0.3) 0.1px,
        transparent 0.1em
      ),
      linear-gradient(90deg, rgba(12, 94, 12, 0.3) 0.1px, transparent 0.1em); */
    background-size: 5px 5px;
  }
  