.body {
  display: flex;
  flex-direction: column;
}
.font-link-light {
  font-family: "Allura", cursive;
  font-size: 11rem;
  color: #bcd5eb;
}

.font-link-dark{
  font-family: "Allura", cursive;
  font-size: 11rem;
  color: #F2D1DB;
}

.subheadings-light {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  color: #bcd5eb;
  font-family: "Playfair Display", serif;
}
.subheadings-dark {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 53px;
    color: #F2D1DB;
    font-family: "Playfair Display", serif;
  }

.mycontent-light {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: #bcd5eb;
}
.mycontent-dark {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #F2D1DB;
  }
