.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.font-link-light {
  font-family: "Allura", cursive;
  font-size: 11rem;
  color: #bcd5eb;
}

.font-link-dark {
  font-family: "Allura", cursive;
  font-size: 11rem;
  color: #f2d1db;
}

.subheadings-light {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  color: #bcd5eb;
  font-family: "Playfair Display", serif;
}
.subheadings-dark {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  color: #f2d1db;
  font-family: "Playfair Display", serif;
}

.mycontent-light {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: #bcd5eb;
}
.mycontent-dark {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: #f2d1db;
}

.card:nth-child(1) {
  opacity: 1;
  animation: fade-in 2s;
  animation-delay: 0.3s;
}

.card:nth-child(2) {
  opacity: 1;
  animation: fade-in 2s;
  animation-delay: 0.7s;
}

.card:nth-child(3) {
  opacity: 1;
  animation: fade-in 2s;
  animation-delay: 0.5s;
}

.card:nth-child(4) {
  opacity: 1;
  animation: fade-in 1.4s;
  animation-delay: 0.8s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
